<div *ngIf="attendee">
  <h2>{{attendee.name}} details!</h2>
  <div>
    <label>name: </label>
    <input [(ngModel)]="attendee.name" placeholder="name"/>
  </div>
  <div>
    <label>Homeworks: </label>
    <br>
    <label>1</label>    
    <input [(ngModel)]="attendee.homework1" placeholder="Score"/>
    <label>2</label>    
    <input [(ngModel)]="attendee.homework2" placeholder="Score"/>
    <label>3</label>    
    <input [(ngModel)]="attendee.homework3" placeholder="Score"/>
    <label>4</label>    
    <input [(ngModel)]="attendee.homework4" placeholder="Score"/>
    <label>5</label>    
    <input [(ngModel)]="attendee.homework5" placeholder="Score"/>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>