<h1 fxLayoutAlign="center">{{ title }}</h1>
<div fxFlexFill fxLayout="column" fxLayoutAlign="space-around">
  <input type='text'
    style='padding:8px;margin:15px auto;width:30%;'
    placeholder='Type to filter the name column...'
    (keyup)='updateFilter($event)'/>
  <ngx-datatable
    #table
    class="material"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
    [limit]="10" (activate)="onActivate($event)">
  </ngx-datatable>
</div>