<div fxFlexFill fxLayout="row" fxLayoutAlign="space-around">
  <button routerLink="/new" md-raised-button>Create attendee</button>
  <input type='text'
    placeholder='Type to filter the name column...'
    (keyup)='updateFilter($event)'/>
</div>
<ngx-datatable
    #table
    class="material"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
    [limit]="10"
    title="Click to show Attendee"
    (activate)="gotoDetail($event)">
    <ngx-datatable-column name="Name" [width]="80"></ngx-datatable-column>
    <ngx-datatable-column name="Photo" [width]="300"></ngx-datatable-column>
    <ngx-datatable-column name="Average grade" prop="average_grade"></ngx-datatable-column>
    <ngx-datatable-column name="Delivered homeworks" prop="delivered_homeworks"></ngx-datatable-column>
    <ngx-datatable-column name="Missing homeworks" prop="missing_homeworks"></ngx-datatable-column>
    <ngx-datatable-column name="Last update" prop="updated_at">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | date }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Delete">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button md-raised-button (click)="delete(row); $event.stopPropagation()">x</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>